/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif; /* Change font to Times New Roman */
    background-color: #000; /* Set background color to black */
    background-image: url('/UniTimetable/img/bg.jpeg'); /* Add background image */
    background-size: cover; /* Maintain aspect ratio and fit the entire image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center; /* Center the background image */
    color: #fff; /* Set text color to white */
}

header {
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Set link color to white */
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.buttons {
    display: block; /* Change display to block to stack buttons vertically */
    margin-top: 20px; /* Add margin to separate buttons */
}

.button {
    text-align: center;
}

.button img {
    width: 100%; /* Adjusted width */
    max-height: 200px; /* Maximum height */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 5px;
}

.button button {
    background-color: #007bff; /* Blue background color for buttons */
    color: #fff; /* White text color for buttons */
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
    width: 50%;
    text-align: center;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Remove underline */
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.button button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

footer {
    background-color:none ;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
